<form action="form.php" method="GET">

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
      <h1> Inscription <br/> <small> Merci de renseigner les informations du conseiller à créer </small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-3">
      <div class="form-group">
      <label for="Nom">Nom</label>
      <input type="text" class="form-control" id="nom" placeholder="Nom">
      </div>
      </div>
      <div class="col-md-offset-1 col-md-3">
      <div class="form-group">
      <label for="Prenom">Prénom</label>
      <input type="text" class="form-control" id="prenom" placeholder="Prénom">
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-7">
      <div class="form-group">
      <label for="Email">Email address</label>
      <input type="text" class="form-control" id="email" placeholder="Entrez l'email">
      </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-3">
        <div class="form-group">
        <label for="Password">Mot de passe</label>
        <input type="password" class="form-control" id="password" placeholder="Mot de passe">
        </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
        <div class="form-group">
        <label for="Vpassword">Vérification mot de passe</label>
        <input type="password" class="form-control" id="vpassword" placeholder="Vérification mot de passe">
        </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-offset-2 col-md-1">
        <button type="submit" class="btn btn-primary">Valider les informations</button>
        </div>
      </div>
</form>


<div class="groupList col-lg-3 col-md-4 col-sm-6 col-lg-offset-2" ng-repeat="(listName, list) in models.lists">
  <h2>{{ listName }}</h2>
  
  <ul dnd-list="list">
    <li ng-repeat="item in list"
        dnd-draggable="item"
        dnd-moved="list.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="models.selected = item"
        ng-class="{'selected': models.selected === item}"
        >
        {{item.label}}
    </li>
  </ul>
  </div>

<div class="row">
<div class=" col-md-3 col-lg-offset-2">
  <div class="col-md-9">
    <input class="form-control" type="text" name="nouveaugroupe" placeholder="nom du groupe à créer.." />
  </div>
  <button class="btn btn-primary">+</button>
</div>
</div>  
