<form name="formInscription">

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
      <h1> Inscription <br/> <small> Merci de renseigner les informations du conseiller à créer </small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-3">
      <div class="form-group">
      <label for="Nom">Nom</label>
      <input type="text" class="form-control" id="nom" ng-model="nom" placeholder="Nom">
      </div>
      </div>
      <div class="col-md-offset-1 col-md-3">
      <div class="form-group">
      <label for="Prenom">Prénom</label>
      <input type="text" class="form-control" id="prenom" ng-model="prenom" placeholder="Prénom">
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-7">
      <div ng-class="['form-group has-feedback', { 'has-success' : formInscription.email.$valid && formInscription.email.$viewValue != null},
                                                 { 'has-error': !formInscription.email.$valid && formInscription.email.$viewValue != null }]">
      <label for="Email">Adresse Email </label>
      <input type="email" class="form-control" id="email" name="email" ng-model="email" placeholder="Entrez l'email" >
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if='formInscription.email.$valid && formInscription.email.$viewValue != null'></span>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if='!formInscription.email.$valid && formInscription.email.$viewValue != null'></span>
      </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-3">
          <div ng-class="['form-group has-feedback', { 'has-success': password != '' && passwordConfirm == password},
                                        { 'has-error': passwordConfirm != '' && passwordConfirm != password}
                        ]">

            <label for="Password">Mot de passe</label>
            <input type="password" class="form-control" id="password" ng-change="showError()" ng-model="password" placeholder="Mot de passe">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="password != '' && passwordConfirm == password"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="passwordConfirm != '' && passwordConfirm != password"></span>
            <span ng-show='showError()' class="help-block">Les deux mots de passe sont différents</span>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
          <div ng-class="['form-group has-feedback', { 'has-success': password != '' && passwordConfirm == password},
                                        { 'has-error': passwordConfirm != '' && passwordConfirm != password}
                        ]">
            <label for="Vpassword">Vérification mot de passe</label>
            <input type="password" class="form-control" id="vpassword" ng-change="showError()" ng-model="passwordConfirm" placeholder="Vérification mot de passe">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="password != '' && passwordConfirm == password"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="passwordConfirm != '' && passwordConfirm != password"></span>
            <span ng-show='showError()' class="help-block">Les deux mots de passe sont différents</span>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-12 col-md-offset-2 col-md-1">
          <button type="submit"  ng-click="registerConseiller()" class="btn btn-primary col-lg-2" ng-disabled='disableButton()'>Valider les informations</button>
          <span ng-class="[{'col-lg-2 col-md-offset-1 col-md-3 alert alert-danger alerterror': error !== undefined && (resultat == '' || resultat === undefined)}]" ng-show='error !== undefined'> {{ error }}</span>
          <span ng-class="['col-lg-2 col-md-offset-1 col-md-3', {'alert alert-success alertsuccess': resultat !== undefined && (error === undefined || error == '')}]" ng-show='resultat !== undefined'> {{ resultat }}</span>
        </div>
      </div>
</form>


<div class="row marginTop30">
  <div class='col-md-3 col-md-offset-2' >
    <select class="form-control" ng-model="selected_group" ng-change="showConseillersOfGroup(selected_group)">
      <option value="">Sélectionner un groupe</option>
        <option ng-repeat="group in groups" value="{{ group.id }}">{{ group.intitule }}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="groupList col-lg-4 col-md-4 col-sm-6 col-lg-offset-2" ng-repeat="(listName, list) in models.lists">
    <h2>{{ listName }}</h2>

    <ul dnd-list="list" class="well" style="padding-left: 15px; margin-bottom:10px;">
      <li ng-repeat="item in list"
          dnd-draggable="item"
          dnd-moved="list.splice($index, 1)"
          dnd-effect-allowed="move"
          dnd-selected="models.selected = item"
          ng-class="{'selected': models.selected === item}"
          >
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ item.nom}}</div>
          <div class="glyphicon glyphicon-trash col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
          <div class="glyphicon glyphicon-edit"></div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class=" col-md-3 col-lg-offset-2">
    <div class="col-md-9">
      <input class="form-control" type="text" name="nouveaugroupe" ng-model="nomGroupe" placeholder="Nom du groupe à créer.." />
    </div>
    <button class="btn btn-primary" ng-click="CreerGroupe(nomGroupe)">+</button>
  </div>
</div>
